<div class="intro">
  <app-profile />
  <p>
    On this page you can retrieve the list of single releases from the playlist
    server that made the Dutch tipparade / top-40 in a certain year and create
    your private Spotify playlist from it.
  </p>
  <ol>
    <li>
      First choose a year in the dropdown below, and a list of songs will be
      displayed that charted that year.
    </li>
    <li>
      Then click the 'Get playlist tracks' button to retrieve existing playlist
      (or create a new one) with the name '&lt;year> charted songs', e.g. '2023
      charted songs'.
    </li>
  </ol>
  <p>
    If the playlist exists, any existing songs are matched against the charted
    items. You can now synchronize your playlist song by song or resolve all
    unmatched items in one go.
  </p>
  <em>
    Please note that, due to different attributions or ways of writing names and
    titles, the software may not always correctly match songs between the charts
    and the spotify playlist.
  </em>
</div>

<div class="actions">
  <span>
    <label for="year-select">Release year: </label>
    <select
      #selectedYear
      id="year-select"
      (change)="getReleases(selectedYear.value)"
    >
      <option value="">--Please choose an annum--</option>
      @for (annum of years; track $index) {
      <option [value]="annum">{{ annum }}</option>
      }
    </select>
  </span>
  @if(releaseYear() && !isPlaylistMatched() && !isLoadingCharts()) {
  <button (click)="onMatchCurrentPlaylist()">Get playlist tracks</button>
  } @if(isPlaylistMatched()) {
  <button (click)="resolveAll()">Resolve All</button>
  }
</div>
@if (releaseYear()) { @if (isLoadingCharts()) {
<p>Loading releases for {{ releaseYear() }} from server...</p>
} @else { @if (charts().length > 0) {
<table>
  <thead>
    <th>line</th>
    <th>Artist (Charts)</th>
    <th>Title (Charts)</th>
    <th>Artist (Spotify)</th>
    <th>Title (Spotify)</th>
    <th>Actions</th>
  </thead>
  @for (item of charts(); track $index) {
  <tr class="listing">
    <td>{{ $index + 1 }}</td>
    <td>{{ item.artist }}</td>
    <td>
      <em>{{ item.title }}</em>
    </td>
    @if (item.match) {
    <td>
      @for(artist of item.match.artists; track $index) {
      <p>{{ artist.name }}</p>
      }
    </td>
    <td>
      <em>{{ item.match.name }}</em>
    </td>
    <td></td>
    } @else {
    <td></td>
    <td></td>
    <td>
      @if (isPlaylistMatched()) {
      <button (click)="addToPlaylist(item)">Resolve</button>
      }
    </td>
    }
  </tr>
  }
</table>
} @else {
<p>No releases could be loaded for {{ releaseYear() }}</p>
} } @if(isLoadingPlaylist()) {
<p>
  Loading playlist tracks for '{{ releaseYear() }} charted songs' from
  Spotify...
</p>
} @else { @if (unmatchedFromPlaylist().length > 0) {
<h1>Tracks in playlist, but not matched with released songs</h1>
<table>
  <thead>
    <th>line</th>
    <th>Artist (Spotify)</th>
    <th>Title (Spotify)</th>
    <th>Actions</th>
  </thead>
  @for (item of unmatchedFromPlaylist(); track item.id) {
  <tr class="listing">
    <td>{{ $index + 1 }}</td>
    <td>
      @for(artist of item.artists; track $index) {
      <p>{{ artist.name }}</p>
      }
    </td>
    <td>
      <em>{{ item.name }}</em>
    </td>
    <td><button (click)="deleteFromPlaylist(item)">Delete</button></td>
  </tr>
  }
</table>
} @else if (isPlaylistMatched()) {
<p>
  No playlist or empty playlist with name '{{ releaseYear() }} charted songs'
</p>
} } }
