@import "../../global-styles/abstracts/variables";

div.intro {
  max-width: 60rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  & ol {
    padding-left: 2rem;
    & li {
      padding-top: 0.3rem;
    }
  }

  & p,
  & em {
    padding-top: 0.3rem;
  }

  & h1 {
    padding-top: 1rem;
    padding-bottom: 0.3rem;
  }
}

table {
  border-collapse: collapse;
}
td {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  &:first-child {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
tr {
  border-bottom: 0.1rem solid whitesmoke;
  &:nth-child(even) {
    background-color: rgb(58, 52, 52);
  }
}
