<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
    	<Logger name="info.rsdev.playlists.services" level="WARN" />
        <Logger name="info.rsdev.playlists.services.Top40ScrapeService" level="INFO" />
    	<Logger name="info.rsdev.playlists.services.SpotifyCatalogService" level="DEBUG" />
    	<Logger name="info.rsdev.playlists.Playlists" level="INFO" />
    	<Logger name="info.rsdev.playlists.services.PlaylistService" level="INFO" />
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
