*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  background-color: $background-color;
  color: $text-color;
  padding: 1rem 0.3rem;
}

body {
  box-sizing: border-box;
}
